<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoke</title>
    <style>
        html, body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            background: url('background.jpg') no-repeat;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <img src="whatcomesnext.png" alt="Invoke">
</body>
</html>