server {
    listen {{ settler_nginx_default_server | default("80") }};
    server_name {{ settler_nginx_server_name | default("localhost") }};

    {% if settler_nginx_ipv6 %}
    listen [::]:{{ settler_nginx_default_server | default("80") }} ipv6only=on;
    {% endif %}

    root {{ settler_nginx_site_folder_root }}{{ settler_nginx_site_public_folder }};

    index index.php index.html index.htm;

    charset utf-8;

    client_max_body_size 12M;

    {% if settler_nginx_enable_pagespeed %}
    # enable ngx_pagespeed
    pagespeed on;

    pagespeed FileCachePath /var/ngx_pagespeed_cache;

    # enable my own filters
    pagespeed RewriteLevel PassThrough;

    pagespeed EnableFilters inline_google_font_css,extend_cache,insert_dns_prefetch,hint_preload_subresources;
    {% endif %}

    gzip on;
    gzip_vary on;
    gzip_disable "msie6";
    gzip_comp_level 6;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_proxied any;
    gzip_types
        text/plain
        text/css
        text/js
        text/xml
        text/javascript
        image/svg+xml
        application/javascript
        application/x-javascript
        application/json
        application/xml
        application/xml+rss;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # Expire rules for static content
    # From HTML5 BP Configs: https://goo.gl/R1Xi5X

    # cache.appcache, your document html and data
    location ~* \.(?:manifest|appcache|html?|xml|json)$ {
        expires -1;
        # access_log logs/static.log; # I don't usually include a static log
    }

    # Feed
    location ~* \.(?:rss|atom)$ {
        expires 1h;
        add_header Cache-Control "public";
    }

    # Media: images, icons, video, audio, HTC
    location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
        expires 1M;
        access_log off;
        add_header Cache-Control "public";
    }

    # CSS and Javascript
    location ~* \.(?:css|js)$ {
        expires 1y;
        access_log off;
        add_header Cache-Control "public";
    }

    location ~ /.well-known {
      allow all;
    }
}
